.wrapper__tabs-component {
  display: flex;
  margin-top: 6%;
  margin-bottom: 6%;
}

.nav {
  flex-direction: column;
}

.nav-tabs {
  border-bottom: unset !important;
  overflow-y: scroll;
  height: 500px;
  flex-wrap: unset !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: unset;
  background-color: #262c7c !important;
  color: #ffffff !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: unset;
}

.nav-tabs .nav-link {
  border: unset !important;
  background: #f2f3f7;
  border-radius: 5px;
  margin-bottom: 15px !important;
  margin-right: 15px !important;
  width: 200px;
  text-align: center;
  font-size: 14px;
  color: #2d2e39;
  font-weight: 500;
}

.tab-content {
  margin-left: 40px;
}

.tabsCountry__status {
  font-size: 14px;
  color: #6468a1;
  margin: 0;
  padding-bottom: 5px;
}

.tabsCountry__total {
  font-size: 24px;
  font-weight: 500;
  color: #262c7c;
  margin: 0;
}

.wrapper__tabsCountry {
  margin-left: 10px;
}
