.wrapper__card {
  width: auto;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  bottom: -80px;
  /* border: 1px solid #dedede; */
  padding: 40px 0px;
}

.wrapper__card-text {
  margin-left: 10px;
}

.card-text__status-cases {
  font-size: 14px;
  color: #6468a1;
  margin: 0;
  padding-bottom: 5px;
}

.card-text__total-cases {
  font-size: 24px;
  font-weight: 500;
  color: #262c7c;
  margin: 0;
}
